h1{
    color:blue;
    font-weight: bolder;
}
p{
    color: grey;
    font-weight: bold;
    font-size: 250%;
}
li{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding:1%;
}
.nav{
    width: 100%;
    background-color: black;
    margin: 0 auto;
}

.nav ul li a{
    text-decoration: none;
    background-color: black;
    color:white;
}
